@{
    ViewData["Title"] = "Enter a Movie into the Collection";
}

@model Mission6___David_Morey.Models.Movies

<h1 class="text-center display-4">@ViewData["Title"]</h1>

@* Makes the inputs and forms for an addition to the movie collection to be recorded *@
<div>
    <div>
        <div>
        </div>
    </div>
</div>