@{
    ViewData["Title"] = "Enter a Movie into the Collection";
}

<h1 class="text-center display-4">@ViewData["Title"]</h1>

@* Makes the inputs and forms for an addition to the movie collection to be recorded *@
<div>
    <div>
        <div>
            <form>
                <label></label>
                <input/>
                <label></label>
                <input />
                <label></label>
                <input />
                <label></label>
                <input />
                <label></label>
                <input />
                <label></label>
                <input />
                <label></label>
                <input />
                <label></label>
                <input />
                <label></label>
                <input />
            </form>
        </div>
    </div>
</div>