@{
    ViewData["Title"] = "Enter a Movie into the Collection";
}

@model Mission08_Team0315.Models.Task

<h1 class="text-center display-4">@ViewData["Title"]</h1>

@* Makes the inputs and forms for an addition to the movie collection to be recorded *@
<div>
    <div>
        <div>
            <form method="post" asp-action="Form">
                <input asp-for="TaskId" type="hidden"/>
                <br />
                <label asp-for="TaskName">Task Name</label>
                <input asp-for="TaskName" />
                <label asp-for="DueDate">Date Due</label>
                <input asp-for="DueDate" />
                <label asp-for="Quadrant">Quadrant</label>
                <select asp-for="Quadrant">
                    <option value="1">Quadrant 1</option>
                    <option value="2">Quadrant 2</option>
                    <option value="3">Quadrant 3</option>
                    <option value="4">Quadrant 4</option>
                </select>
                <label asp-for="CategoryId">Category</label>


                <select asp-for="CategoryId">
                    @foreach (Category c in ViewBag.categories)
                    {
                        <option value="@c.CategoryId">@c.CategoryName</option>
                    }
                </select>
                <label asp-for="IsCompleted">Is Completed?</label>
                <select asp-for="IsCompleted">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <button type="submit" asp-route-id="">Submit</button> @* Allows the form to be submitted*@
            </form>
        </div>
    </div>
</div>