@{
    ViewData["Title"] = "Enter a Movie into the Collection";
}

<h1 class="text-center display-4">@ViewData["Title"]</h1>

@* Makes the inputs and forms for an addition to the movie collection to be recorded *@
<div>
    <div>
        <div>
            <form>
                <input type="hidden" value=""></input>
                <label>Task Name</label>
                <input/>
                <label>Date Due</label>
                <input />
                <label>Quadrant</label>
                <select>
                    <option value="1">Quadrant 1</option>
                    <option value="2">Quadrant 2</option>
                    <option value="3">Quadrant 3</option>
                    <option value="4">Quadrant 4</option>
                </select>
                <label>Category</label>
                <input />
                <label>Is Completed?</label>
                <select>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <label></label>
                <input />
                <label></label>
                <input />
                <label></label>
                <input />
                <label></label>
                <input />
            </form>
        </div>
    </div>
</div>